.page-section {
  padding: 1.5rem 0;

    &--blue {
      background-color: #2f5572;
      color: #FFF;
    }

    &--plans {
      background: url("assets/images/background-village-png.png") top center no-repeat;

        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    &--blue-bg {
      background-color: rgba(47,85,114,.9);
      color: #FFF;
    }

}
