.page-section {
  padding: 1.5rem 0;

    &--blue {
      background-color: #2f5572;
      color: #FFF;
    }

    &--plans {
      background: url("assets/images/background-village-png.png") top center no-repeat;
      background-size: cover;
    }
}
