.row {

  &::after {
    content: "";
    clear: both;
    display: table;
  }

  &--gutters {
    padding-right: -65px;
  }

  &--gutters-large {
    padding-right: -100px;
  }

  &--gutters > div {
    padding-right: 65px;
  }

  &--gutters-large > div {
    padding-right: 100px;
  }

  &--4 {
    float: left;
    width: 50%;
  }

  &--4-smaller {
    float: left;
    width: 33.33%;
  }

  &--6 {
    float: left;
    width: 50%;
  }

  &--8 {
    float: left;
    width: 50%;
    max-width: 750px;
    max-height: 525px;
    padding-top: 150px;
  }

}
