.village-community {
  position: relative;
  padding-left: 150px;
  padding-bottom: 2.5rem;

  &__icon {
    position: absolute;
    left:0;
    max-width:115px;
    max-height: 100px;
    margin-top: 90px;
  }

  &__title {
    font-size: 1.875rem;
    font-weight: 400;
    margin-bottom: .8rem;

  }
}
